@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-size: 62.5%;
  box-sizing: border-box;
  width: 100%;
}

p {
  font: inherit;
}

body {
  background-color: #fbfbfb;
  font-family: "Roboto", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.masterWrap {
  height: 100%;
}

.navBoxWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #ffffff;
  height: 50px;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 1;
}
.navBoxWrap .logoBox {
  background-color: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px;
  color: #616161;
}
.navBoxWrap .logoBox .logoImage {
  width: 25px;
  height: auto;
}
.navBoxWrap .menuBox:hover,
.navBoxWrap .logoBox:hover {
  color: #cdbd0e;
}
.navBoxWrap .rightNavBox {
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: absolute;
  align-items: center;
  top: 0px;
  right: 5px;
  width: auto;
  height: 100%;
}
.navBoxWrap .rightNavBox .menuBox {
  background-color: inherit;
  font-family: "Roboto", sans-serif;
  margin: 7px 3px 7px 5px;
  width: 30px;
  position: relative;
  top: 7px;
  right: 0px;
}
.navBoxWrap .rightNavBox .menuBox .closeIcon {
  height: 30px;
  width: 30px;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.navBoxWrap .rightNavBox .menuBox .closeIcon .line {
  position: absolute;
  display: block;
  background: #616161;
  width: 10px;
  height: 0.15rem;
  border-radius: 0.2rem;
  left: 0;
  transition: all 0.6s cubic-bezier(0.5, 0.1, 0, 1.2);
}
.navBoxWrap .rightNavBox .menuBox .closeIcon .line-1 {
  top: 0;
}
.navBoxWrap .rightNavBox .menuBox .closeIcon .line-2 {
  top: 7px;
  width: 18px;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  background-color: #cdbd0e;
}
.navBoxWrap .rightNavBox .menuBox .closeIcon .line-3 {
  top: 14px;
}
.navBoxWrap .rightNavBox .menuBox .closeIcon .line-1.on {
  top: 0px;
  width: 22px;
  transform: translateX(-11px) rotate(-45deg) translateY(12px);
  background-color: #616161;
}
.navBoxWrap .rightNavBox .menuBox .closeIcon .line-2.on {
  opacity: 0;
}
.navBoxWrap .rightNavBox .menuBox .closeIcon .line-3.on {
  top: 14px;
  width: 22px;
  transform: translateX(-8px) rotate(45deg) translateY(-8px);
  background-color: #cdbd0e;
}
.navBoxWrap .rightNavBox .loginDropDown {
  background-color: inherit;
  position: relative;
  padding-left: 10px;
  padding-right: 30px;
  font-size: 2rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.navBoxWrap .rightNavBox .loginDropDown .link {
  text-decoration: none;
  color: #616161;
  font-size: 1.4rem;
}
.navBoxWrap .rightNavBox .loginDropDown .link.loggedIn {
  text-decoration: none;
  color: #cdbd0e;
  font-size: 1.4rem;
}

.hamburgerMenuWrap {
  background-color: #133051;
  height: calc(100vh - 50px);
  position: fixed;
  top: 50px;
  width: 100%;
  color: #ffffff;
}
.hamburgerMenuWrap .hamburgerMenu {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  color: #ffffff;
  padding: 20px;
}
.hamburgerMenuWrap .hamburgerMenu .link {
  text-decoration: none;
  color: #ffffff;
}
.hamburgerMenuWrap .hamburgerMenu .link:hover {
  color: #cdbd0e;
  font-weight: 500;
}

.hamburgerMenuWrap.on {
  transition: transform 1.2s cubic-bezier(0.325, 1, 0.22, 1);
  transform: translateX(0%);
  left: 0%;
}

.hamburgerMenuWrap.off {
  transition: transform 1.2s cubic-bezier(0.325, 1, 0.22, 1);
  transform: translateX(100%);
  right: 0%;
}

.toolbarWrap {
  background-color: rgb(197, 197, 197);
  height: calc(100vh - 50px);
  position: fixed;
  width: 50%;
  top: 50px;
}
.toolbarWrap .toolbarMenu {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1.5fr auto;
  grid-gap: 10px;
  margin: 10px;
}
.toolbarWrap .toolbarMenu .toolBox {
  border-radius: 10px;
  color: #133051;
  height: 100%;
  width: 100%;
  border: 1px solid #adadad;
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
}
.toolbarWrap .toolbarMenu .toolBox.one {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #d1d0d0;
}
.toolbarWrap .toolbarMenu .toolBox.two {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #ffffff;
}
.toolbarWrap .toolbarMenu .toolBox.three {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #d1d0d0;
}
.toolbarWrap .toolbarMenu .toolBox.four {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #7797bb;
}
.toolbarWrap .toolbarMenu .toolBox.five {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: #323232;
  color: #ffffff;
}
.toolbarWrap .toolbarMenu .toolBox.six {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  background-color: #ffffff;
}
.toolbarWrap .toolbarMenu .signOutBox {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  font-size: 2rem;
  padding: 10px;
  color: #3e3e3e;
  font-weight: 800;
}
.toolbarWrap .toolbarMenu .signOutBox .link {
  display: flex;
  color: #616161;
  align-self: center;
}
.toolbarWrap .toolbarMenu .signOutBox:hover .link {
  color: #cdbd0e;
}

.toolbarWrap.on {
  background-color: #ffffff;
  transition: transform 1.2s cubic-bezier(0.325, 1, 0.22, 1);
  transform: translateX(0%);
  left: 50%;
}

.toolbarWrap.off {
  background-color: #ffffff;
  transition: transform 1.2s cubic-bezier(0.325, 1, 0.22, 1);
  transform: translateX(100%);
  right: 0%;
}

.signupBoxWrap {
  font-size: 2rem;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  position: fixed;
  top: 50px;
  transition: transform 1.5s cubic-bezier(0.325, 1, 0.22, 1);
  transform: translateY(-150%);
}
.signupBoxWrap .loginBox {
  font-size: 5rem;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 20px;
}
.signupBoxWrap .loginBox h2 {
  font-size: 1.2rem;
}
.signupBoxWrap .signUpBox {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 20px;
  margin-bottom: 20px;
}
.signupBoxWrap .signUpBox h2 {
  font-size: 1.2rem;
}

.signupBoxWrap.on {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  position: fixed;
  top: 50px;
  transition: transform 1.5s cubic-bezier(0.325, 1, 0.22, 1);
  transform: translateY(0%);
}

.bodyWrap {
  font-size: 2rem;
  margin: 10px;
  width: calc(100% - 20px);
  height: 100%;
  transition: position 0.66s ease-out;
  position: absolute;
  top: 50px;
  z-index: -1;
}/*# sourceMappingURL=App.css.map */